  <div class="navbar">
    <p class="btn">@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
    <p class="btn">@Html.ActionLink("View Clients", "Index", "Clients")</p>
    <p class="btn">@Html.ActionLink("Home","Index","Home")</p>
  </div>