@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Delete @Model.Name?</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  <input class="btn" type="submit" value="Delete" />
}

<p>@Html.ActionLink("Home","Index","Home", null, new { @class = "btn" })</p>