@{
  Layout = "_Layout";
}

@using HairSalon.Models

@if (Model.Count == 0)
{
  <p>No stylists added</p>
}

@foreach (Stylist stylist in Model)
{
  <p>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId})</p>
}

<p>@Html.ActionLink("Add New", "Create", "Stylists")</p>
