@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("Add a Stylist", "Create", "Stylists", null, new { @class = "btn" })</p>
<p>@Html.ActionLink("Add a Client", "Create", "Clients", null, new { @class = "btn" })</p>

