@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Delete @Model.Name?</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  <input type="submit" value="Delete" />
}
